aiohttp==3.9.1
black==23.12.0
Django==4.2.8
django-cors-headers==4.3.1
django-extensions==3.2.3
django-multiselectfield==0.1.12
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-translated-fields==0.12.0
drf-yasg==1.21.7
flake8==6.1.0
gunicorn==21.2.0
isort==5.13.2
model-bakery==1.17.0
psycopg2-binary==2.9.9
pytest-django==4.7.0
pytest==7.4.3
pytest-cov==4.1.0
whitenoise==6.6.0
celery==5.3.6
redis==5.0.1
flower==2.0.1
